<!DOCTYPE html>
<html lang="en" dir="ltr" style="height: 1500px;">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
    <h1 class= "title"><a href="/">Document recommendation program</a></h1>
    <h1 class= "sub-title"><a href="/">including similarity check</a></h1>
    </header>
    <section class="box">
      <div class="searchBox">
        <form action="/word" method="get" style="text-align: center">
          <input type="text" placeholder="Please enter a word!" name="word">
          <button class = "image-button">SEARCH</button>
        </form>
      </div>
      <div class="ranking_news">Ranking News</div>
      <article>
      {%for i in range(20):%}
        {% if 20*(current_page-1)+i+1<=len: %}
          </div>
            <form action="/document" method="get">
            <input value = {{i}} name="title" hidden>
            <button class="article-name">{{20*(current_page-1)+i+1}}. {{t[20*(current_page-1)+i]}}</button>
            </form>
          </div>
        {% endif %}
      {%endfor%}
  
       <form action="/next" method="get">
          <input value = {{current_page+1}} name="page" hidden>
          <button class="movebtn">NEXT</button>
      </form>
      </article>
      </section>
      <section class="contact">
        <h1 class= "title">Contact Us</h1><br>
        <p>KHU CE 2017104015 이재호 dlwogh9344@khu.ac.kr</p>
        <p>KHU CE 2017104038 한봉훈 bng4535@khu.ac.kr</p>
      </section>
  </body>
</html>
